{% extends "compraventa/base.html" %}

{% block body %}

<h1>Bienvenido a "Te lo vendo"</h1>
<p>Somos una tienda en línea que ofrece una amplia variedad de productos de alta calidad a precios competitivos.</p>
<p>En "Te lo vendo" encontrarás desde electrónicos, ropa, accesorios, hasta artículos para el hogar y mucho más.</p>
<p>Nuestro objetivo es brindar a nuestros clientes una experiencia de compra conveniente, segura y satisfactoria.</p>
<p>Explora nuestro catálogo en línea y encuentra los mejores productos para ti. ¡Te invitamos a comprar en "Te lo vendo"!</p>

{% endblock %}